.Card{
    width: 380px;
    height: 262px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

} 

.Card img {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
    margin: 20px 0 0 20px;
}

.Card p {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 14px;
    align-self: start;
    margin: 0 0 20px 20px;
}

.Card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.Card:hover img {
    transform: translateY(-20px);
}